<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aioute.carloan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity_" />
        <activity
            android:name=".activity.TaskActivity_"
            android:label="@string/my_tasks" />
        <activity android:name=".activity.TakeTaskPhotoActivity_" />
        <activity
            android:name=".activity.SettingActivity_"
            android:label="@string/setting" />
        <activity
            android:name=".activity.FixPasswordActivity_"
            android:label="@string/fix_password" />
        <activity
            android:name=".activity.WarnSettingActivity_"
            android:label="@string/warn_info_setting" />
        <activity
            android:name=".activity.ChangePhoneActivity_"
            android:label="更换手机号" />
        <activity
            android:name=".activity.BindPhoneActivity_"
            android:label="绑定手机号码" />
        <activity
            android:name=".activity.AboutActivity_"
            android:label="@string/about" />
        <activity
            android:name=".activity.PhotoVerifyActivity_"
            android:label="@string/onsite_photo" />
        <activity android:name=".activity.SingleDeviceOperActivity_" />
        <activity
            android:name=".activity.PhotographActivity_"
            android:label="已拍照" />
        <activity
            android:name=".activity.UnpackActivity_"
            android:label="预约拆机" />
        <activity android:name=".activity.CarInfoActivity_" />
        <activity android:name=".base.CustomBaseActivity_" />

        <!-- 开启高德地图的定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="appId"
            android:value="${APP_ID}" />
        <meta-data
            android:name="URL"
            android:value="${URL}"
            tools:replace="android:value" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_MAP}" />
    </application>

</manifest>